<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    @Styles.Render("~/bundles/AdminCss")
    @Styles.Render("~/bundles/IntTeInputCss", "~/bundles/DataTablesCss")
    @Styles.Render("~/ Content / bootstrap.min.css", "~/Content/css/AdminLTE.min.css");

    @RenderSection("Styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>


@section render{
    @Scripts.Render("~/Scripts/jquery.min.js", "~/Scripts/bootstrap/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/AdminJs")
    @*@Scripts.Render("~/bundles/validateJs")
    @Scripts.Render("~/bundles/globalJs")*@
    @*@Scripts.Render("~/bundles/appJS", "~/bundles/DataTables", "~/Scripts/datepicker/moment.min.js", "~/Scripts/datepicker/bootstrap-datepicker.js", "~/Scripts/bootstrap-switch.js")*@

}
</html>











